<%retrievedbook.each do |retrieving|%>
<tr>
<td><%=retrieving['first']%></td>
<td><%=retrieving['last']%></td>
<td><%=retrieving['num']%></td>
<td><%=retrieving['street']%></td>
<td><%=retrieving['zip']%></td>

<br>


<%end%>